# Docs: https://aka.ms/yaml
name: $(SourceBranchName)_$(Build_SourceVersion)

variables:
- group: AZ-Pipe-Versions

pool:
  vmImage: 'vs2017-win2016'

steps:

- powershell: |
   $vernum = & GitVersion.exe /output json /showvariable SemVer
   Write-Host "##vso[task.setvariable variable=PIPEVERSION]$($vernum)"
  displayName: SetVersion

- powershell: |
   $shanum = & GitVersion.exe /output json /showvariable Sha
   Write-Host "##vso[task.setvariable variable=SHAVERSION]$($shanum)"
  displayName: SetSha

- powershell: |
   Write-Host '##vso[build.addbuildtag]$(PIPEVERSION)'
   Write-Host '##vso[build.updatebuildnumber]$(PIPEVERSION)'
  displayName: 'Set Build Tag and Number'

- powershell: .\pre-build.ps1
  displayName: 'Run Pre-Build'

- powershell: Invoke-Build -Task Release
  displayName: 'Run Build'

- task: PublishTestResults@2
  displayName: 'Publish Test Results'
  condition: always()
  inputs:
    testResultsFiles: '**/TEST-*.xml'
    testResultsFormat: NUnit
    searchFolder: '$(Common.TestResultsDirectory)'
    mergeTestResults: true

- task: CopyFiles@2
  displayName: 'Copy Files to: Build '
  inputs:
    Contents: '**\*'
    SourceFolder: Output
    TargetFolder: $(Build.StagingDirectory)
    CleanTargetFolder: true

- task: PublishPipelineArtifact@0
  inputs:
    artifactName: 'Pipelines_Sample'
    targetPath: $(Build.StagingDirectory)/Output/module.zip

- task: PublishPipelineArtifact@0
  inputs:
    artifactName: 'Pipelines_Release'
    targetPath: $(Build.StagingDirectory)/Output/Release-Notes.md
