# Docs: https://aka.ms/yaml
name: $(SourceBranchName)_$(Build_SourceVersion)

trigger:
  - master

pr:
  - master

pool:
  vmImage: 'vs2017-win2016'

steps:

- powershell: |
   $vernum = & GitVersion.exe /output json /showvariable SemVer
   Write-Host "##vso[task.setvariable variable=pipeversion]$($vernum)"
  displayName: SetVersion

- powershell: |
   Write-Host '##vso[build.addbuildtag]$(PIPEVERSION)'
   Write-Host '##vso[build.updatebuildnumber]$(PIPEVERSION)'
  displayName: 'Set Build Tag and Number'

- powershell: .\build.ps1
  displayName: 'Run Build'

- task: PublishTestResults@2
  displayName: 'Publish Test Results'
  condition: always()
  inputs:
    testResultsFormat: NUnit
    searchFolder: '$(Common.TestResultsDirectory)'
    mergeTestResults: true

- task: CopyFiles@2
  displayName: 'Copy Files to: Build '
  inputs:
    SourceFolder: Output
    TargetFolder: $(Build.StagingDirectory)
    CleanTargetFolder: true
