# Docs: https://aka.ms/yaml
name: $(SourceBranchName)_$(Build_SourceVersion)

variables:
- group: AZ-Pipe-Versions

pool:
  vmImage: 'vs2017-win2016'

steps:

- powershell: .\pre-build.ps1
  displayName: 'Run Build'

- powershell: .\invoke-build -Task TestAnalyze
  displayName: 'Run Tests & Analyze'

- task: PublishTestResults@2
  displayName: 'Publish Test Results'
  condition: always()
  inputs:
    testResultsFiles: '**/TEST-*.xml'
    testResultsFormat: NUnit
    searchFolder: '$(Common.TestResultsDirectory)'
    mergeTestResults: true
